<div class="f-cb f-mb10"><h3 class="list-title">doctor数据</h3> <span class="f-fr"><a href="#!/?doctor/admin/doctor/addItem" class="f-btn f-btn-success">增加数据</a></span></div>
<div class="mkoa-box f-p10"  ms-controller="doctor-list">
    <mkoa:pager  url="doctor/admin/doctor/findAll" searchurl="doctor/admin/doctor/search" >
        <div slot="$top" id="search">
            <select ms-duplex="searchKey" class="f-fl" >
                <option value="id">ID</option>
                <option value="d_id">医生id</option><option value="d_name">医生姓名</option><option value="de_id">所属科室</option><option value="d_user">医生账号</option><option value="d_pass">医生密码</option><option value="d_content">反馈意见</option>
            </select>
            <input type="text" ms-duplex="searchValue" class="f-fl f-ml5"/>
            <button ms-click="search" class="f-btn f-btn-success f-ml10" >搜索</button>
            <button ms-if="searchOpen" ms-click="closeSearch" class="f-btn">清空搜索</button>
        </div>
        <table slot="$list" class="mkoa-table">
            <thead>
            <tr><th width="30">ID</th><th>医生id</th><th>医生姓名</th><th>所属科室</th><th>医生账号</th><th>医生密码</th><th>反馈意见</th><th width="155">创建时间</th><th width="100">操作</th></tr>
            </thead>
            <tbody>
            <tr ms-repeat="listData"><td>{{el.id}}</td><td>{{el.d_id}}</td><td>{{el.d_name}}</td><td>{{el.de_id}}</td><td>{{el.d_user}}</td><td>{{el.d_pass}}</td><td>{{el.d_content}}</td><td>{{el.createdAt|date("yyyy-MM-dd HH:mm:ss")}}</td>
           <td><a ms-attr-href="'#!/?doctor/admin/doctor/addItem?id='+el.id"  class="f-btn f-btn-sm">编辑</a> <button  ms-click="remove($remove,el.id)" class="f-btn f-btn-sm">删除</button></td>
            </tr>
            </tbody>
        </table>
    </mkoa:pager>
</div>
<script>
    require(["mkoaAjax/mkoaAjax","mkoaPagerFull/mkoaPagerFull"], function ($a){
       avalon.define({
            $id:'doctor-list',
            remove:function($remove,id){
                $a.getJSON(app.$host +'doctor/admin/doctor/delete',{id:id},function(data){//删除数据
                    if(!data.error){
                        $remove();
                    }
                });
            }
        });
        avalon.scan();
    });
</script>