<div class="f-cb f-mb10"><h3 class="list-title">article数据</h3> <span class="f-fr"><a href="#!/?article/admin/article/addItem" class="f-btn f-btn-success">增加数据</a></span></div>
<div class="mkoa-box f-p10"  ms-controller="article-list">
    <mkoa:pager  url="article/admin/article/findAll" searchurl="article/admin/article/search" >
        <div slot="$top" id="search">
            <select ms-duplex="searchKey" class="f-fl" >
                <option value="id">ID</option>
                <option value="f_title">头条标题</option><option value="f_source">头条来源</option><option value="f_content">头条内容</option><option value="s_title">新闻标题</option><option value="s_source">新闻来源</option><option value="s_content">新闻内容</option><option value="l_title">法律标题</option><option value="l_source">法律来源</option><option value="w_name">投诉部门</option><option value="w_phone">投诉电话</option>
            </select>
            <input type="text" ms-duplex="searchValue" class="f-fl f-ml5"/>
            <button ms-click="search" class="f-btn f-btn-success f-ml10" >搜索</button>
            <button ms-if="searchOpen" ms-click="closeSearch" class="f-btn">清空搜索</button>
        </div>
        <table slot="$list" class="mkoa-table">
            <thead>
            <tr><th width="30">ID</th><th>头条标题</th><th>头条来源</th><th>头条内容</th><th>新闻标题</th><th>新闻来源</th><th>新闻内容</th><th>法律标题</th><th>法律来源</th><th>投诉部门</th><th>投诉电话</th><th width="155">创建时间</th><th width="100">操作</th></tr>
            </thead>
            <tbody>
            <tr ms-repeat="listData"><td>{{el.id}}</td><td>{{el.f_title}}</td><td>{{el.f_source}}</td><td>{{el.f_content}}</td><td>{{el.s_title}}</td><td>{{el.s_source}}</td><td>{{el.s_content}}</td><td>{{el.l_title}}</td><td>{{el.l_source}}</td><td>{{el.w_name}}</td><td>{{el.w_phone}}</td><td>{{el.createdAt|date("yyyy-MM-dd HH:mm:ss")}}</td>
           <td><a ms-attr-href="'#!/?article/admin/article/addItem?id='+el.id"  class="f-btn f-btn-sm">编辑</a> <button  ms-click="remove($remove,el.id)" class="f-btn f-btn-sm">删除</button></td>
            </tr>
            </tbody>
        </table>
    </mkoa:pager>
</div>
<script>
    require(["mkoaAjax/mkoaAjax","mkoaPagerFull/mkoaPagerFull"], function ($a){
       avalon.define({
            $id:'article-list',
            remove:function($remove,id){
                $a.getJSON(app.$host +'article/admin/article/delete',{id:id},function(data){//删除数据
                    if(!data.error){
                        $remove();
                    }
                });
            }
        });
        avalon.scan();
    });
</script>